<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	ExLayout2
	<th:block th:replace="~{/fragments/fragment3::target(~{this::#ulFirst},~{this::#ulSecond})}">
		<ul id="ulFirst">
			<li>AAA</li>
			<li>BBB</li>
			<li>CCC</li>
		</ul>
		<ul id="ulSecond">
			<li>111</li>
			<li>222</li>
			<li>333</li>
		</ul>
		<ul id="ulThird">
			<li>3----------111</li>
			<li>222</li>
			<li>333</li>
		</ul>
	</th:block>
</body>
</html>